/* css code here  */
html {
  scroll-behavior: smooth;
}
.intero-container label {
    display: block;
}
.intero-container input,
.intero-container select {
    width: 100%;
	min-width: 100%;
	border-radius: 0 !important;
	height: 45px;
	border-color: #a8a8a8 !important;
	outline: none !important;
	margin-top: 5px;
}
.intero-container textarea {
	border-color: #a8a8a8 !important;
}
.intero-container img {
    width: 100%;
}
.intero-col2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}
.intero-color-variation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-height: 198px;
    overflow-y: scroll;
	position: relative;
}
.intero-color-variation img {
    width: 100%;
    height: 125px !important;
    object-fit: cover;
}
.intero-color-variation > div {
    position: relative;
}
.intero-select-optionR > div {
    margin-bottom: 20px;
}
.intero-select-optionR > div:last-child {
    margin-bottom: 0;
}
.intero-select-optionR .intero_btn1 {
    display: block;
    position: relative;
    padding: 8px 0;
    color: #fff;
    text-transform: uppercase;
    background: #000;
    text-align: center;
}
.intero_var_select .intero_btn1 {
    background: #e31e24;
}
.intero-select-optionR .intero_btn1 input[type='radio'] {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.intero-left-button button {
    width: 100%;
}
.intero-input-col2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	margin: 30px 0;
}
.intero-input-col3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
}
.intero-option-bottom {
    margin-top: 25px;
}
.intero-cart-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}
.intero-cart-button .intero-right-btn{
    text-align: right;
	position: relative;
}
.intero_product_img_thumbnail img {
	width: 100%;
	height: 530px !important;
	object-fit: cover;
}
.intero_product_img_thumbnail {
    position: relative;
}
.intero_product_img_thumbnail .intero-product-price {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	font-size: 18px;
	font-weight: 600;
	min-width: 70px;
}
.intero_product_img_thumbnail .intero-product-price h4 {
	font-size: 18px;
	font-weight: 600;
    margin-bottom: 10px;
}
.intero_product_img_thumbnail .intero-product-price h2 span {
	color: #e31e24;
	font-size: 30px;
	font-weight: 600;
	display: inline-block;
	margin-right: 10px;
}
.intero_product_img_thumbnail .intero-product-price h2 del {
	font-size: 18px;
	font-weight: 300;
	color: #757575;
}
.intero_product_zoom {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.intero_product_zoom img {
    width: 32px;
    height: 32px !important;
}
.intero_btn{
	display: block;
	position: relative;
	padding: 13px 0;
	color: #fff;
	text-transform: uppercase;
	background: #000;
	text-align: center;
	transition: 0.3s;
}
.intero_btn:hover {
	background: #e31e24;
}
.intero_note_text {
	margin-top: 25px;
}
.intero_num_field {
	display: flex;
}
.intero_num_field div:first-child {
	margin-right: 10px;
}
.intero_num_field div:first-child span {
	font-size: 50px;
	color: #b3b2b2;
}
.intero_num_field div:last-child {
	flex: 1;
}
.intero_small_product {
	display: flex;
	align-items: center;
	margin-top: 5px;
}
.intero_small_product img {
	width: 60px;
	height: 50px !important;
	margin-right: 10px;
	object-fit: cover;
}
.intero_top_arrow_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 10px;
}
.intero_top_arrow_text img {
    width: 16px;
    height: 16px;
}
.intero_combo {
	color: #e31e24;
	font-size: 15px;
	margin-left: 8px;
}
.intero_wishlist {
    position: absolute;
    top: 8px;
    right: 8px;
}
.intero_wishlist a {
    background: transparent !important;
    padding: 0 !important;
}
.intero_wishlist > div {
    margin: 0;
}
.intero_wishlist i,
.intero_wishlist img {
    margin: 0 !important;
}
.intero_wishlist img {
    height: 25px !important;
}

/* popup */
#intero_popup {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 550px;
	width: 1100px;
	padding: 30px;
	background: #EEE5E6;
	z-index: 999;
	transform: translate(-50%, -50%);
    display: none;
}
#intero_popup.show {
    display: block;
}
.intero_popup_cross a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
	bottom: 100%;
	left: 100%;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    font-size: 21px;
    background: #e31e24;
	color: #fff;
	font-weight: 600;
	transform: translate(0px, 13px);
}
.intero_popup_cross span {
	background: #fff;
	width: 22px;
	height: 2px;
	text-align: center;
	position: absolute;
}
.intero_popup_cross span:first-child{
	transform: rotate(45deg);
}
.intero_popup_cross span:last-child{
	transform: rotate(-45deg);
}
.separator,
.view-wishlist,
#yith-wcwl-popup-message {
	display: none !important;
}
.delete_item.button.alt {
	font-size: 0 !important;
}
.intero_product_img.intero_product_img2 {
	height: 489px !important;
}
.intero-container2{
	height: 490px;
	background: #fff;
}
.intero-color-variation2 {
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.intero-select-optionR2 {
	margin-right: 20px;
}
.intero_col_combo1 {
	margin-top: 6px;
}
.loading-animation {
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
}
.loading-animation img {
	width: 60px !important;
	height: 60px !important;
}
.loading-animation.loading-animation2 {
	top: 50%;
	left: 0;
	transform: inherit;
}
.loading-animation.loading-animation2 img {
	width: 40px !important;
	height: 40px !important;
}
.intero_product_img_thumbnail2 .intero-product-price {
	position: relative;
	flex: 1;
	margin-left: 20px;
}
.intero_product_img_thumbnail.intero_product_img_thumbnail2 {
	display: flex;
}
.increament_price {
	position: relative;
	margin: 20px;
	margin-left: 0;
}
.increament_price button {
	position: absolute;
	padding: 0;
	top: 0;
	left: 100%;
	width: 30px;
	height: 23px;
}
.increament_price button:last-child{
	top: 22px;
}
.increament_price input {
	margin-top: 0;
}
.loading-animation.loading-animation2{
	top: 0;
	left: 50px;
	transform: inherit
}
.popup_increament {
	display: flex;
	gap: 40px;
}
.popup_increament .increament_price {
	flex: 1;
	margin: 0;
}

/* responsive css */
@media (max-width: 1199px) {
	.intero-col2 {
		grid-template-columns: 1fr;
	}
	.intero-color-variation2 {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.intero-input-col3 {
		grid-template-columns: 1fr;
	}
	.intero-input-col2 {
		grid-template-columns: 1fr;
	}
	.intero-cart-button {
		grid-template-columns: 1fr;
	}
	.intero-cart-button .intero-right-btn {
		text-align: left;
	}
	#intero_popup {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transform: inherit;
	}
	.intero-color-variation {
		max-height: inherit;
		overflow-y: inherit;
	}
	.intero-select-optionR2 {
		margin-right: 0;
	}
	.intero_popup_cross a {
		top: 0;
		right: 0;
		left: inherit;
		bottom: inherit;
		transform: inherit;
		z-index: 999;
	}
	.intero-container2 {
		height: 93vh;
		overflow-y: scroll;
	}
	.intero-select-optionR2 {
		padding: 10px;
	}
}
@media (max-width: 767px) {
	.intero-color-variation {
		grid-template-columns: 1fr 1fr;
	}
	.intero-right-btn button {
		margin-bottom: 10px;
	}
}